# --- Backend (Java / Spring Boot / Gradle-Maven) ---
target/
build/
*.class
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# --- Frontend (Angular / Node) ---
node_modules/
dist/
.angular/
coverage/

# --- IDE ---
.idea/
*.iml
.vscode/

# --- OS ---
.DS_Store
Thumbs.db

# --- Environnement ---
*.log
.env
.env.local
/.env*
.env
.env.*
**/.env*
