POSTGRES_DB=ycyw_chat_app
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ycyw
POSTGRES_PASSWORD=change-me
JWT_SECRET_TOKEN=replace-with-a-long-random-secret
MAIN_APP_PORT=8050
FRONTEND_ORIGIN=http://localhost:4250
